<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654429228548-bh5vlbjs2m661bcu6jbcnt2slt4sdrkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654429228548-bh5vlbjs2m661bcu6jbcnt2slt4sdrkm</string>
	<key>API_KEY</key>
	<string>AIzaSyCV3onHqBZFdvqo9uL5ayOrIW4mN3eafLI</string>
	<key>GCM_SENDER_ID</key>
	<string>654429228548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleAuthApp</string>
	<key>PROJECT_ID</key>
	<string>authapp-712db</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp-712db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654429228548:ios:7c023d421ff20fd44def51</string>
</dict>
</plist>